.layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 2fr 1fr;
    gap: 30px 10px;
  }
}

@media (max-width: 480px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
